@import '../variables';
@import '../../assets/libs/normalize';

.categories {
  @media (max-width: 1400px) {
    margin-top: 30px;
  }
  @media (max-width: 1000px) {
    width: 700px;
    overflow: scroll;
  }
  @media (max-width: 880px) {
    width: 550px;
  }
  @media (max-width: 690px) {
    width: 400px;
  }
  @media (max-width: 500px) {
    width: 300px;
  }
  ul {
    display: flex;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
